* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(208, 80%, 90%);
  display: grid;
  justify-content: center;
}

header {
  h1 {
    text-align: center;
    margin: 3rem 0.3rem 2rem;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    font-size: 32px;
    letter-spacing: 1.1px;
    @media screen and (min-width: 450px) {
      letter-spacing: initial;
    }
  }

  #description {
    text-align: center;
    margin: 0.8rem;
  }
}

form {
  background-color: #fff;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 0;
  @media screen and (min-width: 450px) {
    border: rgba(40, 40, 40, 0.3) solid 1px;
    border-radius: 8px;
    margin: 2rem;
    max-width: 600px;
    padding: 0 1.2rem;
  }
}

// Contact Info

#contact-info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 12px;
  padding: 2rem 1.6rem 1rem 1.6rem;

  label {
    grid-column: 1 / 6;
    justify-self: flex-end;
    margin-right: 1rem;
    @media screen and (min-width: 450px) {
      grid-column: 1 / 5;
      align-self: center;
      margin-right: 8px;
    }
  }

  input {
    height: 2rem;
    grid-column: 6 / -1;
    font-size: 14px;
    padding-left: 6px;
    width: 100%;
    @media screen and (min-width: 450px) {
      input {
        grid-column: 6 / -1;
      }
    }

    @media screen and (max-width: 449px) {
      #dropdown-label {
        grid-column: 1 / 5;
        justify-self: flex-end;
      }
    }
  }

  select {
    grid-column: 6 / -1;
    font-size: 14px;
    height: 2rem;
  }
}

// User Choices

#user-choices {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 12px;
  #checkbox-description,
  #radio-description {
    grid-column: 1 / 6;
    margin-left: 1rem;
    align-self: center;
    padding-right: 1rem;
    @media screen and (min-width: 450px) {
      grid-column: 2 / span 4;
    }
  }

  #radio-description {
    grid-row: 1 / span 4;
  }

  #checkbox-description {
    grid-row: 5 / span 2;
  }

  input[type='radio'],
  input[type='checkbox'] {
    grid-column: 6;
    justify-self: flex-start;
    align-self: center;
  }

  #radio-label,
  #checkbox-label {
    grid-column: 7 / -1;
    justify-self: flex-start;
    align-self: center;
    margin-left: -10px;
    @media screen and (min-width: 450px) {
      grid-column: 7 / -1;
    }
  }
}

// User comments

#user-comments {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 12px;
  padding-bottom: 2rem;
  #textarea-label {
    grid-column: 1 / span 4;
    margin-left: 1rem;
    align-self: center;
    @media screen and (min-width: 450px) {
      grid-column: 2 / span 4;
      padding-right: 1rem;
    }
  }

  textarea {
    grid-column: 6 / -2;
    border-radius: 4px;
    padding: 6px;
    @media screen and (min-width: 450px) {
      grid-column: 6 / -1;
    }
  }

  button[type='submit'] {
    grid-column: 6 / span 3;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    align-self: center;
    @media screen and (min-width: 450px) {
      grid-column: 6 / span 2;
    }
  }
}
