* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(208, 80%, 90%);
  display: grid;
  justify-content: center;
}

header {
  h1 {
    text-align: center;
    margin: 3rem 0.3rem 2rem;
    font-family: 'Love Ya Like A Sister', 'Times New Roman', Times, serif;
    font-size: 42px;
    letter-spacing: 1.1px;
    @media screen and (min-width: 450px) {
      letter-spacing: initial;
    }
  }

  #description {
    text-align: center;
    font-size: 20px;
    margin: 0.8rem;
  }
}

form {
  background-color: #fff;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 0;
  @media screen and (min-width: 450px) {
    border: rgba(40, 40, 40, 0.3) solid 1px;
    border-radius: 8px;
    margin: 2rem;
    max-width: 800px;
    width: 80vw;
    padding: 0 1.2rem;
  }
}

// Contact Info

#contact-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;
  padding: 1rem 1.6rem 1rem 1.6rem;
  @media screen and (min-width: 450px) {
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 12px;
    padding: 2rem 1.6rem 1rem 1.6rem;
  }

  label {
    transform: translateY(0.5rem);
    @media screen and (min-width: 450px) {
      margin-right: 1rem;
      grid-column: 1 / 5;
      align-self: center;
      margin-right: 8px;
    }
  }

  select,
  input {
    height: 2rem;
    @media screen and (min-width: 450px) {
      grid-column: 6 / -1;
    }
    font-size: 16px;
    width: 100%;
    background-color: #edf2f7;
    border: 2px solid lightblue;
    border-radius: 0.25rem;
    line-height: 1.5;

    &::placeholder {
      color: rgba(40, 40, 40, 0.5);
    }

    &:hover {
      background-color: #c9ddb8;
    }
  }

  input {
    padding: 0 1rem;

    &:focus {
      outline: none;
    }

    &:optional:valid,
    &:required {
      border-left: 3px solid #689f38;
    }

    &:optional:invalid,
    &:required:invalid {
      border-left: 3px solid #e02006;
    }

    &:optional:focus,
    &:required:invalid:focus {
      border-left: 3px solid #6fc3c9;
    }

    &:required:invalid + .warning {
      display: block;
    }
  }

  .warning {
    display: none;
    @media screen and (min-width: 450px) {
      grid-column: 6 / -1;
    }
    font-size: 13px;
    color: red;
    transform: translateY(-6px);
  }
}

// User Choices

#user-choices {
  margin-top: 1.3rem;
  border: 1px solid rgba(112, 128, 144, 0.33);
  border-radius: 2px;

  div.question {
    border: rgba(40, 40, 40, 0.05) solid 1px;
    background: #eaf3e6;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @media screen and (min-width: 450px) {
      grid-template-columns: repeat(12, 1fr);
      grid-row-gap: 2px;
    }

    .checkbox-description,
    .radio-description {
      grid-column: 1 / -1;
      margin-left: 1rem;
      margin-bottom: 1rem;
      padding-right: 0.5rem;
      @media screen and (min-width: 450px) {
        padding-right: 1rem;
        grid-column: 1 / span 6;
      }
    }

    @media screen and (min-width: 450px) {
      .radio-description {
        grid-row: 1 / span 5;
      }

      .checkbox-description {
        grid-row: 1 / span 5;
      }
    }

    input[type='radio'],
    input[type='checkbox'] {
      grid-column: 4;
      align-self: center;
      @media screen and (min-width: 450px) {
        grid-column: 8;
      }
    }

    .radio-label,
    .checkbox-label {
      grid-column: 5 / -1;
      justify-self: flex-start;
      align-self: center;
      margin-left: -10px;
      @media screen and (min-width: 450px) {
        margin-left: -30px;
        grid-column: 9 / -1;
      }
    }
  }
}

// User comments

#user-comments {
  margin-top: 1rem;
  padding-top: 1rem;
  @media screen and (min-width: 450px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 12px;
  }
  padding-bottom: 2rem;
  #textarea-label {
    grid-column: 1 / span 4;
    margin-left: 1rem;
    align-self: center;
    @media screen and (min-width: 450px) {
      grid-column: 1 / span 5;
      padding-right: 1rem;
    }
  }

  textarea {
    @media screen and (max-width: 450px) {
      margin: 1rem;
      width: 90vw;
    }
    border: 1px solid rgba(40, 40, 40, 0.3);
    border-radius: 4px;
    height: 10rem;
    font-size: 14px;
    padding: 6px;
    @media screen and (min-width: 450px) {
      grid-column: 6 / -1;
    }
  }

  button[type='submit'] {
    border-radius: 4px;
    font-size: 16px;
    @media screen and (max-width: 450px) {
      margin-left: 1rem;
    }
    padding: 6px;
    align-self: center;
    background-color: #4299e1;
    border: 1px solid #2b6cb0;
    color: white;
    @media screen and (min-width: 450px) {
      grid-column: 6 / span 2;
    }
    &:hover {
      background-color: darken(#689f38, 8%);
    }
  }
}

// Footer

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: var(--footer-height);
  font-size: 0.8rem;
  p {
    margin: 3px;
  }
}
