// TODO: fix for Firefox mobiles devices

* {
  // border: rgba(40, 40, 40, 0.3) solid 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(208, 80%, 90%);
}

#title {
  text-align: center;
  margin: 1.6rem 0.3rem 1.2rem 0.3rem;
}

main > #description {
  text-align: center;
  margin: 0.8rem;
}

form {
  --text-size: 0.8rem;
  background-color: #fff;
  border: rgba(40, 40, 40, 0.3) solid 1px;
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  margin: 2rem auto;
  padding: 0.8rem 0.5rem 0.8rem 1rem;

  @media screen and (min-width: 450px) {
    max-width: 600px;
  }

  #user-info {
    display: grid;
    grid-template-columns: 1fr;
    align-items: baseline;

    label {
      text-align: left;
      padding-right: 0.4rem;
      align-self: center;
    }

    input[type='text'],
    input[type='email'],
    input[type='number'] {
      width: auto;
      padding: 8px;
      margin: 10px;
      margin-left: 0;
      font-size: var(--text-size);
      border: solid 1px #aaa;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
  }

  @media screen and (min-width: 700px) {
    #user-info {
      grid-template-columns: 200px 1fr;

      label {
        text-align: right;
      }
    }
  }

  #middle {
    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: center;

    #radio-labels {
      display: grid;
      grid-template-columns: 20px 1fr;
      align-items: center;
    }

    #dropdown-label {
      align-self: center;
      margin-left: 30px;
    }

    #dropdown {
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: var(--text-size);
      height: 1.8rem;
      margin: 4px 0 6px 0;
      width: 100px;
    }

    input[type='radio'],
    input[type='checkbox'] {
      display: block;
      justify-self: flex-start;
      margin: 8px 5px;
    }
  }

  @media screen and (min-width: 700px) {
    #middle {
      grid-template-columns: 200px 1fr;

      label {
        margin-left: 10px;
      }

      #radio-description {
        margin-left: 30px;
      }
    }
  }

  #comments {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    label {
      padding: 4px 4px 0 0;
    }

    textarea {
      font-size: var(--text-size);
      margin-top: 16px;
      margin-right: 10px;
      padding: 0.4rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      line-height: 1.43;
    }

    button {
      background-color: hsl(208, 56%, 46%);
      border: 1px solid transparent;
      border-color: hsl(208, 56%, 46%);
      border-radius: 4px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: var(--text-size);
      margin: 8px 0;
      padding: 8px;
      width: 25%;
    }
  }

  @media screen and (min-width: 700px) {
    #comments {
      grid-template-columns: 200px 1fr;

      label {
        margin-left: 30px;
      }

      textarea {
        margin-top: 10px;
      }
    }
  }
}
