* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d1e7fa;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  text-align: center;
  margin: 3rem 0.3rem 2rem;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-size: 32px;
  letter-spacing: 1.1px;
}

@media screen and (min-width: 450px) {
  header h1 {
    letter-spacing: initial;
  }
}

header #description {
  text-align: center;
  margin: 0.8rem;
}

form {
  background-color: #fff;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 0;
}

@media screen and (min-width: 450px) {
  form {
    border: rgba(40, 40, 40, 0.3) solid 1px;
    border-radius: 8px;
    margin: 2rem;
    max-width: 600px;
    padding: 0 1.2rem;
  }
}

#contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 12px;
  padding: 2rem 1.6rem 1rem 1.6rem;
}

#contact-info label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  justify-self: flex-end;
  margin-right: 1rem;
}

@media screen and (min-width: 450px) {
  #contact-info label {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 8px;
  }
}

#contact-info input {
  height: 2rem;
  grid-column: 6 / -1;
  font-size: 14px;
  padding-left: 6px;
  width: 100%;
}

@media screen and (min-width: 450px) {
  #contact-info input input {
    grid-column: 6 / -1;
  }
}

@media screen and (max-width: 449px) {
  #contact-info input #dropdown-label {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    justify-self: flex-end;
  }
}

#contact-info select {
  grid-column: 6 / -1;
  font-size: 14px;
  height: 2rem;
}

#user-choices {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 12px;
}

#user-choices #checkbox-description,
#user-choices #radio-description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 1rem;
}

@media screen and (min-width: 450px) {
  #user-choices #checkbox-description,
  #user-choices #radio-description {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / span 4;
  }
}

#user-choices #radio-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
}

#user-choices #checkbox-description {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
}

#user-choices input[type='radio'],
#user-choices input[type='checkbox'] {
  -ms-grid-column: 6;
  grid-column: 6;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#user-choices #radio-label,
#user-choices #checkbox-label {
  grid-column: 7 / -1;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: -10px;
}

@media screen and (min-width: 450px) {
  #user-choices #radio-label,
  #user-choices #checkbox-label {
    grid-column: 7 / -1;
  }
}

#user-comments {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 12px;
  padding-bottom: 2rem;
}

#user-comments #textarea-label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 450px) {
  #user-comments #textarea-label {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / span 4;
    padding-right: 1rem;
  }
}

#user-comments textarea {
  grid-column: 6 / -2;
  border-radius: 4px;
  padding: 6px;
}

@media screen and (min-width: 450px) {
  #user-comments textarea {
    grid-column: 6 / -1;
  }
}

#user-comments button[type='submit'] {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / span 3;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 450px) {
  #user-comments button[type='submit'] {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / span 2;
  }
}
