* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d1e7fa;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  text-align: center;
  margin: 3rem 0.3rem 2rem;
  font-family: 'Love Ya Like A Sister', 'Times New Roman', Times, serif;
  font-size: 42px;
  letter-spacing: 1.1px;
}

@media screen and (min-width: 450px) {
  header h1 {
    letter-spacing: initial;
  }
}

header #description {
  text-align: center;
  font-size: 20px;
  margin: 0.8rem;
}

form {
  background-color: #fff;
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  padding: 0;
}

@media screen and (min-width: 450px) {
  form {
    border: rgba(40, 40, 40, 0.3) solid 1px;
    border-radius: 8px;
    margin: 2rem;
    max-width: 800px;
    width: 80vw;
    padding: 0 1.2rem;
  }
}

#contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 12px;
  padding: 1rem 1.6rem 1rem 1.6rem;
}

@media screen and (min-width: 450px) {
  #contact-info {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 12px;
    padding: 2rem 1.6rem 1rem 1.6rem;
  }
}

#contact-info label {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

@media screen and (min-width: 450px) {
  #contact-info label {
    margin-right: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 8px;
  }
}

#contact-info select,
#contact-info input {
  height: 2rem;
  font-size: 16px;
  width: 100%;
  background-color: #edf2f7;
  border: 2px solid lightblue;
  border-radius: 0.25rem;
  line-height: 1.5;
}

@media screen and (min-width: 450px) {
  #contact-info select,
  #contact-info input {
    grid-column: 6 / -1;
  }
}

#contact-info select::-webkit-input-placeholder,
#contact-info input::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

#contact-info select:-ms-input-placeholder,
#contact-info input:-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

#contact-info select::-ms-input-placeholder,
#contact-info input::-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.5);
}

#contact-info select::placeholder,
#contact-info input::placeholder {
  color: rgba(40, 40, 40, 0.5);
}

#contact-info select:hover,
#contact-info input:hover {
  background-color: #c9ddb8;
}

#contact-info input {
  padding: 0 1rem;
}

#contact-info input:focus {
  outline: none;
}

#contact-info input:optional:valid, #contact-info input:required {
  border-left: 3px solid #689f38;
}

#contact-info input:optional:invalid, #contact-info input:required:invalid {
  border-left: 3px solid #e02006;
}

#contact-info input:optional:focus, #contact-info input:required:invalid:focus {
  border-left: 3px solid #6fc3c9;
}

#contact-info input:required:invalid + .warning {
  display: block;
}

#contact-info .warning {
  display: none;
  font-size: 13px;
  color: red;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

@media screen and (min-width: 450px) {
  #contact-info .warning {
    grid-column: 6 / -1;
  }
}

#user-choices {
  margin-top: 1.3rem;
  border: 1px solid rgba(112, 128, 144, 0.33);
  border-radius: 2px;
}

#user-choices div.question {
  border: rgba(40, 40, 40, 0.05) solid 1px;
  background: #eaf3e6;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

@media screen and (min-width: 450px) {
  #user-choices div.question {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 2px;
  }
}

#user-choices div.question .checkbox-description,
#user-choices div.question .radio-description {
  grid-column: 1 / -1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}

@media screen and (min-width: 450px) {
  #user-choices div.question .checkbox-description,
  #user-choices div.question .radio-description {
    padding-right: 1rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
  }
}

@media screen and (min-width: 450px) {
  #user-choices div.question .radio-description {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
  }
  #user-choices div.question .checkbox-description {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / span 5;
  }
}

#user-choices div.question input[type='radio'],
#user-choices div.question input[type='checkbox'] {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 450px) {
  #user-choices div.question input[type='radio'],
  #user-choices div.question input[type='checkbox'] {
    -ms-grid-column: 8;
    grid-column: 8;
  }
}

#user-choices div.question .radio-label,
#user-choices div.question .checkbox-label {
  grid-column: 5 / -1;
  justify-self: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: -10px;
}

@media screen and (min-width: 450px) {
  #user-choices div.question .radio-label,
  #user-choices div.question .checkbox-label {
    margin-left: -30px;
    grid-column: 9 / -1;
  }
}

#user-comments {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 450px) {
  #user-comments {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 12px;
  }
}

#user-comments #textarea-label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 450px) {
  #user-comments #textarea-label {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    padding-right: 1rem;
  }
}

#user-comments textarea {
  border: 1px solid rgba(40, 40, 40, 0.3);
  border-radius: 4px;
  height: 10rem;
  font-size: 14px;
  padding: 6px;
}

@media screen and (max-width: 450px) {
  #user-comments textarea {
    margin: 1rem;
    width: 90vw;
  }
}

@media screen and (min-width: 450px) {
  #user-comments textarea {
    grid-column: 6 / -1;
  }
}

#user-comments button[type='submit'] {
  border-radius: 4px;
  font-size: 16px;
  padding: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #4299e1;
  border: 1px solid #2b6cb0;
  color: white;
}

@media screen and (max-width: 450px) {
  #user-comments button[type='submit'] {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 450px) {
  #user-comments button[type='submit'] {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6 / span 2;
  }
}

#user-comments button[type='submit']:hover {
  background-color: #54812d;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--footer-height);
  font-size: 0.8rem;
}

footer p {
  margin: 3px;
}
